body{
    background-color: #ebeff3;
    font-family: 'Raleway', sans-serif;
    color: #3c3d3d;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 475px;
    background-color: white;
    border-radius: 15px;
}

textarea{
    width: 370px;
    padding: 10px 15px;
    margin: 20px;
    resize: none;
    overflow: hidden;
    border: 1px solid #6e7f91;
    border-radius: 15px;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

textarea:focus{
    border: 1px solid #b6d2f0;
}

.counter-send{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
}

.counter-send p{
    margin: 0;
}

.btn{
    margin-left: 20px;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 1px solid #6e7f91;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background-color: #6e7f91;
    color: white;
}

#post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0;
    width: 475px;
    background-color: white;
    border-radius: 15px;
}

#post-list section{
    width: 370px;
    padding: 10px 15px;
    margin: 20px;
    border: 1px solid #6e7f91;
    border-radius: 15px;
}

#post-list section article{
    margin-bottom: 20px;
}

#post-list section p{
    margin: 0;
    color: #6e7f91;
    font-size: 10px;
}

.align-post{
    display: flex;
    flex-direction: column;
    align-items: center;
}
